body
{
  font-family: mySansSerif;
  background-color: rgb(158,155,155);
}
h1
{
  text-decoration: underline overline;
  text-align: center;
  font-size: 50pt;
  color: rgb(115,14,10)
}
section h2
{
  margin: 6px;
  font-size: 35pt;
}
h2
{
  font-size: 35pt;
  color: rgb(115,14,10)
}
section
{
  border: 5px solid black;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
}
ul
{
  color: rgb(115,14,10)
  font-size: 27pt;
}
nav a
{
  font-size: 25pt;
  font-weight: bold;
  color: rgb(115,14,10)
}
